/*  your css code here. If applicable */
body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; 
	margin: 0;     
}
.card{
	width: 220px;
	background-color: rgb(226, 226, 226);
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 5px 5px 55px 1px rgba(0, 0, 0, 0.5);

}
img{
	width: 200px;
}
p{
	margin:0;
	width: 150px;
	text-align: center;
}
button{
	padding: 10px;
	background-color: #F54927;
	color: white;
	border: none;
	margin: 10px;
	border-radius: 10px;
}